#home{
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/bg.jpg') no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero h1{
   color: var(--white);
   font-size: 3.3rem;
   font-weight: bold;
   letter-spacing: 0.5px;
   margin: 1.5rem 0;
}
.hero p{
color: var(--white);
opacity: 0.6;
font-size: 1.2rem;
   margin: 1.1rem 0;
}