:root {
   --blue: #003BB3;
   --blue-0: #d6e4ff;
   --black: #242424;
   --shadow-1: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.home_app {
   min-height: 90vh;
}

.toastify {
   font-weight: 500;
   font-size: 0.9rem;
   color: var(--black);
}

/* width */
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--blue);
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--primary);
   cursor: pointer;
}

.btn_one {
   background-color: var(--blue);
   border-radius: 2px;
   border: 1.5px solid var(--blue);
   outline: 1.5px solid var(--blue);
   outline-offset: 3px;
   color: var(--white);
   padding: 0.45rem 0.5rem;
   font-size: 0.9rem;
   font-weight: bold;
   letter-spacing: 0.5px;
   box-shadow: var(--shadow-1);
   /* display: flex;
   justify-content: center;
   align-items: center; */
   transition: 500ms;
   cursor: pointer;
}

.btn_one:hover,
.btn_one:focus {
   color: var(--white);
   background-color: var(--primary);
   border: 1.5px solid var(--primary);
   outline: 1.5px solid var(--primary);
   text-decoration: none;
}